*{
    margin: 0;
    padding: 0;
}
body{
    background-color: bisque;
}
button{
    margin: 20px;
    padding: 15px;
    width: 150px;
    background-color: aquamarine;
    cursor: pointer;
}
button::before{
    content: "Pasa por encima";
}
button:hover{
    background-color: green;
    color: white;
}
button:hover::before{
    content: "hecho";
}
